# kNN test for Auston ML Course

In [16]:
import numpy as np
import pandas as pd
from sklearn import preprocessing,cross_validation,neighbors
from sklearn.model_selection import train_test_split

In [17]:
wine = pd.read_csv('wine.csv')
display(wine.head(n=5))

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [18]:
#Features
X = pd.read_csv('wine.csv',header=None,usecols = range(1,14),skiprows=1)
X.shape

(177, 13)

In [19]:
#Labels
Y = pd.read_csv('wine.csv',header=None,usecols = range(0,1),skiprows=1)
Y.shape

(177, 1)

In [44]:
#x_train,x_test,y_train,y_test=cross_validation.train_test_split(X,Y,test_size=0.25,random_state=14)
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.25,random_state=42)
print(y_train.shape)
print(y_test.shape)

(132, 1)
(45, 1)

In [45]:
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train,y_train)

/home/genius/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [46]:
accuracy=clf.score(x_test,y_test)
print(accuracy * 100)

68.88888888888889

In [47]:
y_pred_train_c = clf.predict(x_train)
y_pred_test_c = clf.predict(x_test)

In [48]:
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(y_train,y_pred_train_c)
print("Train Accuracy %s" % (tr_acc * 100))

te_acc = accuracy_score(y_test,y_pred_test_c)
print("Test Accuracy %s " % (te_acc *100))

Train Accuracy 81.06060606060606
Test Accuracy 68.88888888888889

In [29]:
exp_measure=np.array([4,2,1,2,1,1,1,2,3,2.2,1.1,4,1])
exp_measure=exp_measure.reshape(1,-1)
print(exp_measure)

[[4.  2.  1.  2.  1.  1.  1.  2.  3.  2.2 1.1 4.  1. ]]

In [30]:
pred=clf.predict(exp_measure)
print(pred)

[2]

## k-Fold

1. Split the dataset into K **equal** partitions (or "folds").
2. Use fold 1 as the **testing set** and the union of the other folds as the **training set**.
3. Calculate **testing accuracy**.
4. Repeat steps 2 and 3 K times, using a **different fold** as the testing set each time.
5. Use the **average testing accuracy** as the estimate of out-of-sample accuracy.

In [37]:
from sklearn.model_selection import KFold
X = pd.read_csv('wine.csv',header=None,usecols = range(1,14),skiprows=1)
Y = pd.read_csv('wine.csv',header=None,usecols = range(0,1),skiprows=1)
kf = KFold(n_splits=5,shuffle=True,random_state=42)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=5, random_state=42, shuffle=True)

In [38]:
#for train_index, test_index in kf.split(X):
    #print("TRAIN:", train_index, "TEST:", test_index)

**Stack overflow ans for .iloc**

You're running into the different conventions for Pandas DataFrame indexing versus NumPy ndarray indexing. The arrays train_index and test_index are collections of row indices. But data is a Pandas DataFrame object, and when you use a single index into that object, as in data[train_index], Pandas is expecting train_index to contain column labels rather than row indices. You can either convert the dataframe to a NumPy array, using .values:

data_array = data.values
for train_index, test_index in sss:
    xtrain, xtest = data_array[train_index], data_array[test_index]
    ytrain, ytest = target[train_index], target[test_index]

or use the Pandas .iloc accessor:

for train_index, test_index in sss:
    xtrain, xtest = data.iloc[train_index], data.iloc[test_index]
    ytrain, ytest = target[train_index], target[test_index]

I tend to favour the second approach, since it gives xtrain and xtest of type DataFrame rather than ndarray, and so keeps the column labels.

In [39]:
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
X_train.shape , X_test.shape

((141, 13), (36, 13))

In [40]:
y_train, y_test = Y.iloc[train_index], Y.iloc[test_index]
y_train.shape , y_test.shape

((141, 1), (36, 1))

In [42]:
kNN = neighbors.KNeighborsClassifier()
kNN.fit(X_train,y_train)

/home/genius/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [43]:
accuracy=kNN.score(X_test,y_test)
print(accuracy * 100)

66.66666666666666